<div class="page-header">
    <h1>登出</h1>
</div>
<form class="form-horizontal" role="form" method="post">
    <div class="form-group clearfix">
        <div class="pull-right">
            <button type="submit" class="btn btn-warning">点击登出</button>
         
        </div>
    </div>
</form>

{{#if error}}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    {{error}}
</div>
{{/if}}

{{#if success}}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
    </button>
    {{success}}
</div>
{{/if}}
